<!DOCTYPE html>
<html>
  <head>
    <!-- 通过render函数从routes里的index.js传过来 -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
  </body>
</html>
