*
  margin 0
  padding 0

html,body
  font-size 20px
  width 100%
  height 100%

// 媒体查询
@media screen and (min-width 410px)
  html
    font-size 25px

.music
  width 100%
  height 100%
  position relative
  &::after
    content ''
    background url('https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2573682646,2550136359&fm=26&gp=0.jpg')
    background-size cover
    display block
    position absolute
    width 100%
    height 100%
    top 0
    right 0
    bottom 0
    left 0
    filter blur(15px)
    z-index 2
  &-container
    position relative
    height 100%
    z-index 3
    .music-header
      padding 0 3rem
      text-align center
      height 3rem
      line-height 3rem
      .iconfont
        float left
        font-size 24px
        color #fff
      .status
        font-size: 16px;
        font-family: SourceHanSansCN;
        font-weight: 400;
        color: #FFFFFF;
    .music-content
      background #fff
      width 100%
      height 100%
      height  calc(100% - 7.5rem)
      margin-top 4.5rem
      border-radius 30px 30px 0 0
      .music-pic
        width 13rem
        height 14rem
        overflow hidden
        margin 0 auto
        border-radius 2rem
        position relative
        top -2.5rem
        box-shadow 0 30px 50px #f1f1f1
      .music-name
        text-align center
        position relative
        top -1.5rem
        .music-title
          display block
          font-size 25px;
          // height 9rem
          // width 2rem
          color #000
          font-family: SourceHanSansCN-Bold
          font-weight:bold
        .music-singer
          display block
      .music-bar
        top -1rem
        position relative
        height .125rem
        width 12.8rem
        background  #c6c6c6
        border-radius: 49px;
        margin-left 2rem
        &__now
          position absolute
          height .125rem
          width 5.4rem
          background red
          border-radius: 49px;
      .music-time
        font-size 7px;
        top -1rem
        color #c6c6c6
        position relative
        width 12.8rem
        margin-left 2rem
        display: flex;
        justify-content: space-between;
      .music-start
        position relative
        margin-left 2rem
        display flex
        width 12.8rem
        height 4rem
        span
          flex 1
          text-align center
          font-size 30px
