<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>V-for 案例</title>
</head>

<body>
  <h1>v-for指令用法</h1>
  <hr>
  <div id="app">
    <ul>
      <li v-for="item in sortItems">
        {{item}}
      </li>
    </ul>
    <ol>
      <li v-for="a in sortStudent">{{a.name}}-{{a.age}}</li>
    </ol>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        items: [20, 23, 18, 65, 1, 19, 54, 56, 41],
        students: [
          { name: 'jspang', age: 32 },
          { name: 'Panda', age: 30 },
          { name: 'PanPaN', age: 21 },
          { name: 'King', age: 45 }
        ]
      },
      computed: {
        sortItems: function () {
          // 
          return this.items.sort(this.sortNumber);
        },
        sortStudent: function () {
          return this.sortByKey(this.students, 'age');
        }
      },
      methods: {
        sortNumber(a, b) {
          return a - b
        },
        //数组对象方法排序:
        sortByKey(array, key) {
          return array.sort(function (a, b) {
            var x = a[key];
            var y = b[key];
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
          });
        }
      }
    })
  </script>
</body>

</html>