{% extends 'views/base.html' %}
{% block body %}
{% include "views/components/header.html" %}
<!-- <section class="hero is-info is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <h1 class="title">
        欢迎来到前端海底世界
      </h1>
      <h2 class="subtitle">
        这里是老鱼吃虾米的个人博客
      </h2>
    </div>
  </div>
</section> -->
<div class="tile is-ancestor m-6">
  <div class="tile is-parent ">
    <div class="tile is-child box">
      <p class="title">我的文章</p>
      <div class="container margin-top">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            {% for post in posts %}
            <div class="card has-background-primary-light mb-3">
              <div class="card-content">
                <div class="content ">
                  <a class="has-text-success" href="/posts/{{post._id}}">{{post.title}}</a>
                </div>
              </div>
            </div>
            {% endfor %}
            {% include "views/components/pagination.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-3 is-vertical is-parent ">
    <div class="tile is-child box has-text-centered center ">
      <div class="box">
        <figure class="is-justify-content-center is-flex">
          <div class="image is-128x128 ">
            <img class="is-rounded" src="https://img2.baidu.com/it/u=1678948314,1083480950&fm=26&fmt=auto&gp=0.jpg">
          </div>
        </figure>
        <p class="mt-4 is-size-5">老鱼吃虾米</p>
      </div>
      <div class="is-justify-content-center is-align-items-center">
        <p class="content">东华理工大学 | 大四</p>
        <p class="content">文章分类</p>
        <div class="box has-background-primary">
          <a class="has-text-white" href="/posts?c=html">html</a>
        </div>
        <div class="box has-background-danger">
          <a class="has-text-white" href="/posts?c=css">css</a>
        </div>
        <div class="box has-background-danger">
          <a class="has-text-white" href="/posts?c=js">js</a>
        </div>
        <div class="box has-background-info ">
          <a class="has-text-white" href="/posts">全部</a>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
