*
    //margin 0
    //padding 0

ul
    list-style none
    text-align center
    
    li
        display: inline-block;
        width: 100px;
        vertical-align: top;
        margin-right: 60px;
        text-align center;
        margin-bottom: 30px;
        .pic
            a   
                img
                    width: 100px;
                    height: 141px;
        .title
            a            
                color: #333333;
                font-size: 13px;
                line-height: 1.38;
                text-decoration none;//取消下划线
        .zhuanlan
            a
                color: #999999;
                line-height: 1;
                margin-top: 10px;
                display: block;
